<div class="flexHorizontal" ng-controller="backLogSprintController"
	ng-init="initBackLogs()" style="width: 100%; height: 100%;">
	
		<div style="width: 50%; height: 100%;">
			
			<div ng-repeat="backlog in backlogs | filter:projectFilter()">
				
				<div id="{{project.id}}" class="member" ng-class="project.check ? 'blueBackGround' : 'whiteBackGround'"
				style="width: 100%;  margin-top: 1.5em; height: 3em; padding-top: 0.7em; cursor:pointer;
				cursor:-moz-grabbing; overflow: hidden;" draggable="true" yk-on-drag="dragProjects(event)" ng-click="checkBoxProject(project.id)">
					<table>
						<tr>
							<td style="padding-left: 0.5em;"><span ng-class="project.check ? 'fa fa-check-square': 'fa fa-square-o'" aria-hidden="true"></span></td>
							<td style="padding-left: 0.3em;">{{backlog.title}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	
		<div style="width: 100%; height: 100%;">
			drop
		</div>

</div>