<div class="container-fluid" ng-controller="sprintController" style="padding: 0px; ">
	<result-customizer>
		<div class="col-md-12" style="padding: 0px;background-color: #c0c0c0; text-align: center" ng-init="listOfSprint($event)">
			<table>
				<tr>
					<label for="repeatSelect"> Sprints  </label>
					<select name="repeatSelect" id="repeatSelect" ng-model="selectedSprintObj">
						<option ng-repeat="obj in sprint" value="{{obj}}">{{obj.name}}</option>
					</select>
				</tr>
				<tr style="padding: 0.1em 0.5em; text-align: right;">
					<a role="button" ng-click="saveSprint($event)" style="text-decoration: none; color: blue; font-size: 1.3em;" class="yk-icon-link" data-toggle="tooltip" title="Add Sprint">
						<i class="glyphicon glyphicon-plus"/>
					</a>
					<a role="button" ng-click="editSprint(selectedSprintObj)" style="text-decoration: none; color: blue; font-size: 1.3em;" class="yk-icon-link" data-toggle="tooltip" title="Edit Sprint">
						<i class="glyphicon glyphicon-edit"/>
					</a>
				</tr>
			</table>
		</div><!-- backlog -->
		<div class="col-md-6" style="overflow: auto; cursor:-moz-grabbing; cursor:-webkit-grab;" ng-init="listOfStories($event)">
			<h4>STORIES </h4>
			<table class=" " style="font-size:15px; width: 100%; color:#333333;   border-collapse: collapse;">
				<tr style="font-weight: bold; padding: 1em;">
					<td style="border:2px solid silver;" yk-on-drag="dragToSprint(event)"/>
						<div draggable={{backlog.dragValue}}  ng-repeat="backlog in story  | filter:  { status: 'NOT_ASSIGNED' } | orderBy:'title'" style="border: 1px solid red;">
							<input type="checkbox" value="{{backlog}}"  ng-click ="onSelectStories(backlog)"  style="padding: 1em;min-width:10%; width:0%;height:initial;margin:0.5em;" />{{backlog.title}} --{{backlog.parentStoryId}}--{{backlog.sprint}}<br/>
						</div>
					</td>
				</tr>
			</table>
		</div><!-- sprint-->
		<div class="col-md-6" style="overflow: auto; border: medium solid buttonface;" yk-on-drag-over="allowDrop(event)" yk-on-drop="onSprintDrop(event)">
			<h4>SPRINT </h4>
			<div ng-repeat="backlog in sprints">
				{{backlog.title}} {{backlog.sprint}}
			</div>
		</div>
	</result-customizer>
	<yk-model-dialog id="sprintDialog" name="SprintModel" title="Sprint" columns="2" actionMethod="saveChanges($event);"/>
</div>