<!-- Story view -->
<div ng-controller="storyHierarchyController" style="border: 3px solid grey; width: 100%; height: 100%;">

		<div style="border-bottom: 3px solid grey;">
			<table style="width: 100%;">
				<tr>
					<td class="has-success has-feedback" style="width: 95%;">
						<input ng-model="searchStory" class="form-control" type="text" placeholder="Search story" style="border: none;"/>
						<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true" style="color: #A8A8A8;"></span>
					</td>
					<td style="width: 95%;">
						<a href="" ng-click="openBulkStories()" style="border-radius: 0px;" 
							class="btn btn-info">
				          <span class="glyphicon glyphicon-plus"></span> 
				          <span class="glyphicon glyphicon-plus"></span> 
				          <span class="glyphicon glyphicon-plus"></span> 
				        </a>
					</td>
				</tr>
			</table>
		</div>
		
		<div id="storyHierarchyId" style="overflow-y: auto; padding: 0.5em; height: 100%;" 
			yk-max-height="98vh - ${$this.offset().top}px - 3.8em">
			
			
			<script type="text/ng-template" id="hierarchyTree">
				<div style="height: 6em; margin: 0.5em; border: 3px solid #66c2ff; 
					margin-left: {{backlog.indentHierarchy * 20}}px;">

					<div style="width: 100%; height: 2.5em; border-bottom: 3px solid #66c2ff;">
						<table style="width: 100%; height: 100%;">
							<tr>
								<td id="symbol_{{backlog.id}}" style="width: 4%; text-align: center; background-color: #383838; 
									border-right: 1px solid #101010; color: white;">
										{{getSymbolFor(backlog)}}
								</td>
								<td style="width: 4%; text-align: center; background-color: #383838;
									border-right: 1px solid #101010; color: white;">
										{{backlog.priority}}
								</td>
								<td id="backlogTitle_{{backlog.id}}" style="width: 80%; padding-left: 0.5em;">
									<strong style="text-transform: capitalize;">{{backlog.title}}</strong>
								</td>
								<td ng-show="backlog.isManagementStory" ng-click="updateManagementStory(backlog.id, backlog.isManagementStory)"
									style="width: 4%; text-align: center; background-color: #cce6ff;
									border-left: 1px solid #66c2ff; cursor:pointer;"
									data-toggle="tooltip" data-placement="top" title="Change management for {{backlog.title}}">
									<span ng-class="backlog.isManagementStory ? 'fa fa-check-square': 'fa fa-square-o'" aria-hidden="true">
									</span>
								</td>
								<td id="edit_{{backlog.id}}" ng-click="editBacklog(backlog.id)"  
									style="width: 4%; text-align: center; background-color: #cce6ff;
									border-left: 1px solid #66c2ff; cursor:pointer;"
									data-toggle="tooltip" data-placement="top" title="Update {{backlog.title}}">
										<i class="fa fa-pencil-square-o" aria-hidden="true" style="color: black;"></i>
								</td>
								<td id="delete_{{backlog.id}}" ng-click="deleteBacklog(backlog.id)" style="width: 4%; text-align: center; background-color: #cce6ff;
									border-left: 1px solid #66c2ff; cursor:pointer;"
									data-toggle="tooltip" data-placement="top" title="Delete {{backlog.title}}">
									<i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
								</td>
							</tr>
						</table>
					</div>
					
					<div style="width: 100%; height: 3.5em; padding: 0.3em;">
						<input id="addChildStory_{{backlog.id}}" name="childTitle" class="form-control" placeholder="Add child story" 
						ng-keyup="onTypeNewBacklogChild($event, backlog.id, backlog.indentHierarchy)" 
						style="border: 2px solid lightblue; max-width: 20em;"/>
					</div>
				</div>				
				
				<div ng-repeat="backlog in backlog.childrens | filter:storyFilter()" 
					style="width: 100%;" ng-include="'hierarchyTree'">
				</div>
				
			</script>
			
			<div ng-repeat="backlog in epicStoryList | filter:storyFilter()" 
				style="width: 100%;" ng-include="'hierarchyTree'">
			</div>
		</div>
				
		<!-- Add new story -->
		<div id="addNewBacklogForm" class="has-success has-feedback" style="border-top: 2px solid grey;"> 
				<input name="newBacklogTitle" class="form-control" id="addNewBacklogId" type="text" 
					placeholder="Add new story" ng-model="newBacklogTitle" 
					ng-keyup="onTypeNewBacklog($event)" style="border: none;"/>
					
				<span class="glyphicon glyphicon-plus form-control-feedback" aria-hidden="true" style="color: #A8A8A8;"></span>
		</div>
		
		<div ng-include="'/ui/html/story/story-dialog.html'"></div>
</div>