<div class="container-fluid" ng-controller="storyNoteController" style="padding: 0px;">

	<div class="row" style="height: 20em; padding-top: 1em;">
		
		<div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
			
			<div class="form-inline">
				Version
				<input id="versionTitleId" type="text" class="form-control" placeholder="Version Title" style="border-color: #CD5C5C;" ng-model="versionTitle"
				ng-keyup="checkVersionTitle($event)"/>
				<span ng-if="titleAlreadyPresent" style="margin-left: 0.5em; color: red; font-size: 15px;">
					Please provide different version title for publish, the provided one is already existing
				</span>
			</div>
			
			<div style="padding-top: 0.5em;">
				<textarea rows="2" cols="2" id="noteId" class="form-control" style="height: 15em; resize: none;"></textarea>
			</div>
		
		</div>
		
		<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="border: 2px solid #87CEEB; height: 29em;">
			 <div ng-repeat="note in publishedNotes" style="margin-top: 0.5em;
			 font-weight: bold;">
			  <a href="" ng-click="activeNote(note)">{{note.content}}</a>
			 </div>
		</div>
		
	</div>
	
</div>