<!-- Dependency View -->
<div id="storyDependencyId" ng-controller="storyDependencyController" style="border: 3px solid grey; width: 100%; height: 100%;"
	ng-init="initStoryDependency()">

	<div style="border-bottom: 3px solid grey;">
		<table style="width: 100%;">
			<tr>
				<td class="has-success has-feedback">
					<input ng-model="searchStory" class="form-control" type="text" placeholder="Search story" style="border: none;"/>
					<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true" style="color: #A8A8A8;"></span>
				</td>
			</tr>
		</table>
	</div>
		
	<div style="overflow-y: auto; padding: 0.5em; height: 100%;">
	
		<div ng-repeat="backlog in storyDependencies" style="margin: 0.5em;">
				
				<div style="width: 100%; height: 2.5em; border: 3px solid #66c2ff;">
					<table style="width: 100%; height: 100%;">
						<tr>
							<td ng-click="onClickPlus(backlog.id)" 
								style="width: 4%; text-align: center; background-color: #cce6ff; 
								border-right: 1px solid #66c2ff; cursor:pointer;">
									<i ng-class="backlog.show ? 'fa fa-minus' : 'fa fa-plus'" aria-hidden="true">
									</i>
							</td>
							<td style="width: 4%; text-align: center; background-color: grey; 
								border-right: 1px solid #66c2ff;">
									{{getSymbolFor(backlog)}}
							</td>
							<td style="width: 4%; text-align: center; background-color: grey;
								border-right: 1px solid #66c2ff;">
									{{backlog.priority}}
							</td>
							<td style="width: 84%; padding-left: 0.5em;">
								<strong style="text-transform: capitalize;">{{backlog.title}}</strong>
							</td>
						</tr>
					</table>
				</div>
				
			<!-- On plus button -->
			<div ng-show="backlog.show">
			
				<table>
					<tr>
						<td style="padding: 0.2em;">
							<div style="background: white;">
								<div class="input-group">
									<table>
										<tr>
											<td>
												<input type="text" class="form-control" aria-label="..." style="width: 15em;" readonly="readonly" 
												 placeholder="Please select pattern" value="{{selectedDependencyType}}">
											</td>
											<td>
												<div class="input-group-btn" name="depStoryDropDown">
													<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu dropdown-menu-right">
													    <li ng-repeat="type in dependencyTypes">
													    	<a ng-click="onDependencyTypeChange(type)" href="">
													    		{{type}}
													    	</a>
													    </li>
													</ul>
												</div>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</td>
						
						<td style="padding: 0.2em;">
							<div style="background: white;">
								<div class="input-group">
									<table>
										<tr>
											<td>
												<input type="text" class="form-control" aria-label="..." style="width: 15em;" readonly="readonly" 
												 placeholder="Please select story" value="{{selectedBacklog.title}}">
											</td>
											<td>
												<div class="input-group-btn">
													<button type="button" ng-click="onClickDropDown(backlog.id)" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu dropdown-menu-right" ng-show="dropdown.length > 0">
													    <li ng-repeat="story in dropdown">
													    	<a ng-click="onStoryChange(story)" href="">
													    		{{story.title}}
													    	</a>
													    </li>
													</ul>
												</div>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</td>
						
						<td style="padding: 0.2em;">
							<button class="btn btn-primary" ng-click="addDependency()">Add</button>
						</td>
					</tr>
					
				</table>
				
			</div>
				
		</div>
		
	</div>
	
</div>
