<!-- Dependency View -->
<div id="storyDependencyId" style="overflow-y: auto; border: 3px solid grey; padding: 0.5em; width: 100%; height: 100%;">

		<div ng-repeat="backlog in backLogs" style="margin: 0.5em;">
				
				<div style="width: 100%; height: 2.5em; border: 3px solid #66c2ff;">
					<table style="width: 100%; height: 100%;">
						<tr>
							<td ng-click="count = count + 1" ng-init="count=1" 
								style="width: 4%; text-align: center; background-color: #cce6ff; 
								border-right: 1px solid #66c2ff; cursor:pointer;">
									<i ng-class="count%2 == 0 ? 'fa fa-minus' : 'fa fa-plus'" aria-hidden="true">
									</i>
							</td>
							<td style="width: 4%; text-align: center; background-color: grey; 
								border-right: 1px solid #66c2ff;">
									{{getSymbolFor(backlog)}}
							</td>
							<td style="width: 4%; text-align: center; background-color: grey;
								border-right: 1px solid #66c2ff;">
									{{backlog.priority}}
							</td>
							<td style="width: 84%; padding-left: 0.5em;">
								<strong style="text-transform: capitalize;">{{backlog.title}}</strong>
							</td>
						</tr>
					</table>
				</div>
				
			<!-- On plus button -->
			<div ng-show="count%2 == 0">
			
				<table>
					<tr>
						<td style="padding: 0.2em;">
							<div style="background: white;">
								<div class="input-group">
									<table>
										<tr>
											<td>
												<input type="text" class="form-control" aria-label="..." style="width: 15em;" readonly="readonly" 
												 placeholder="Please select pattern" value="{{selectedSeries}}">
											</td>
											<td>
												<div class="input-group-btn">
													<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu dropdown-menu-right">
													    <li ng-repeat="seriesName in listOfGameSeries"><a ng-click="onGameSeriesChange(seriesName)" href="">{{seriesName}}</a></li>
													</ul>
												</div>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</td>
						
						<td style="padding: 0.2em;">
							<div style="background: white;">
								<div class="input-group">
									<table>
										<tr>
											<td>
												<input type="text" class="form-control" aria-label="..." style="width: 15em;" readonly="readonly" 
												 placeholder="Please select story" value="{{selectedSeries}}">
											</td>
											<td>
												<div class="input-group-btn">
													<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu dropdown-menu-right">
													    <li ng-repeat="seriesName in listOfGameSeries"><a ng-click="onGameSeriesChange(seriesName)" href="">{{seriesName}}</a></li>
													</ul>
												</div>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</td>
						
						<td style="padding: 0.2em;">
							<button class="btn btn-primary">Add</button>
						</td>
					</tr>
					
				</table>
				
			</div>
				
		</div>
		
</div>
