<div class="container-fluid" ng-controller="storyController" style="padding: 0px; width: 100%;" ng-init="initStory()">
	
	<table style="width: 100%; height: 7%;">
		<tr>
			<td ng-class="storyViewTab.color" ng-click="setActiveTab('STORY_VIEW')" style="width: 33%; border-right: 1px solid black; text-align: center; cursor:pointer;">
				<div>Story View</div>
			</td>
			<td ng-class="dependencyViewTab.color" ng-click="setActiveTab('DEPENDENCY_VIEW')" style="width: 33%; border-right: 1px solid black; text-align: center; cursor:pointer;">
				<div>Dependency View</div>
			</td>
			<td ng-class="priorityViewTab.color" ng-click="setActiveTab('PRIORITY_VIEW')" style="width: 33%; text-align: center; cursor:pointer">
				<div>Priority View</div>
			</td>
		</tr>
	</table>

	<!-- Story view -->
	<div ng-show="storyViewTab.active" ng-include="'/ui/html/story/story-hierarchy.html'" 
		style="width: 100%; height: 93%; padding-top: 1.5em; padding-bottom: 1em;">
	</div>
	
	<!-- Dependency view -->
	<div ng-if="dependencyViewTab.active"  ng-include="'/ui/html/story/story-dependency.html'"
		style="width: 100%; height: 93%; padding-top: 1.5em; padding-bottom: 1em;">
	</div>
	
	<!-- Priority view -->
	<div ng-if="priorityViewTab.active" ng-include="'/ui/html/story/story-priority.html'"
		style="width: 100%; height: 93%; padding-top: 1.5em; padding-bottom: 1em;">
	</div>
	
	<div ng-include="'/ui/html/story/bulk-story.html'" ng-controller="bulkStoryController">
	</div>
	
	
</div>