<!-- Story view -->
<div ng-controller="storyHierarchyController" style="border: 3px solid grey; width: 100%; height: 100%;">

		<div class="has-success has-feedback" style="border-bottom: 3px solid grey;">
			<input ng-model="searchStory" class="form-control" type="text" placeholder="Search story" style="border: none;"/>
			<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true" style="color: #A8A8A8;"></span>
		</div>
		
		<div id="storyHierarchyId" style="overflow-y: auto; padding: 0.5em; height: 100%;" 
			yk-max-height="98vh - ${$this.offset().top}px - 5em">
			
			<div ng-repeat="backlog in finalResult | filter:searchStory" 
			style="height: 5em; padding: 0.5em; margin: 0.5em; border: 3px solid #66c2ff; 
			margin-left: {{backlog.indent * 20}}px;">
				<strong style="text-transform: capitalize;">{{backlog.title}}</strong>
				
				<span style="float: right;">
					<a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
					<a href=""><i class="fa fa-times" aria-hidden="true" style="color: red;"></i></a>
				</span>
				
				<input class="form-control" placeholder="Add Child story" ng-keyup="handleKeyPress($event);" ng-bind="model.title" 
				style="border: 2px solid lightblue; max-width: 20em;"/>
			</div>
		</div>
				
		<!-- Add new story -->
		<div style="border-top: 3px solid grey;"> 
			<table style="width: 100%;">
				<tr>
					<td style="width: 95%;">
						<input class="form-control" id="addNewBacklogId" type="text" 
							placeholder="Add New story" ng-model="newBacklogTitle" 
							ng-keyup="onTypeNewBacklog($event);" ng-model="newBacklogTitle" style="border: none;"/>
					</td>
					<td style="width: 5%; padding: 0.2em;">
						<button ng-click="openBulkStories()" class="btn btn-success btn-xs">Add Bulk Stories</button>
					</td>
				</tr>
			</table>
		</div>
	
</table>