<div class="container-fluid" ng-controller="taskController" style="padding: 0px;">

	<yk-search-query id="taskSearchQuery" title="Tasks" name="taskSearch">
		<action id="addTask" label="Add Task" color="blue" icon="glyphicon-plus" method="addEntry($event)" yk-for-role="TASK_EDIT,CUSTOMER_SUPER_USER"></action>
		<action id="editTask" label="Edit Task" color="blue" icon="glyphicon-edit" method="editEntry($event)" row-action="true" yk-for-role="TASK_EDIT,CUSTOMER_SUPER_USER"></action>
		<action id="deleteTask" label="Delete Task" color="red" icon="glyphicon-remove" method="deleteEntry($event)" row-action="true" yk-for-role="TASK_DELETE,CUSTOMER_SUPER_USER"></action>	
			<result-customizer>
				<div style="cursor: pointer;" search-row-id="0" ng-dblclick="changeRowSelection($index, $event); editEntry();" ng-repeat="result in searchResults "  ng-class="getActiveIndex()==$index ? 'borderhover' : 'hoverDiv' " ng-mouseover="changeRowSelection($index, $event);">
					<table style="width: 100%; padding: 0px;  border-collapse: collapse; ">
						<tr>
							<td style="font-weight: bold; font-size: 0.7em; vertical-align: top; padding:0.5em; table-border:0.3em; text-transform: uppercase;">
								<div class="text1" style=" margin-left: {{result.indent * 10}}px">{{result.title}}</div>
							</td>
							
						</tr>
					</table>
				</div>
		</result-customizer>
	</yk-search-query>
	
	<yk-model-dialog id="taskDialog" name="TaskModel" title="Tasks" columns="2" actionMethod="saveChanges($event)"/>
		<div> 
			<input id="tasktextarea" type="text" name="textarea1" placeholder="New story title" ng-model="inlineTitle" ng-keyup="handleKeyPress($event);" ng-bind="model.title"/>
		</div>
		<br/>	
	
</div>