<div class="flexHorizontal" ng-controller="pokerNewGameController" ng-init="initPokerNewGame()" style="width: 100%; height: 100%;">

	<!-- Cards to be displayed -->
	<div id="pokerGameId" style="width: 60%; border: 3px solid grey;">
		
		<!-- Header -->
		<div  style="border-bottom: 3px solid grey; height: 5%; background-color: #383838; color: white; 
				padding: 0.2em;">
			
			<span>Title - {{selectedBacklogItem.title}}
				<i ng-show="selectedBacklogItem.isBug" class="fa fa-bug" aria-hidden="true"
					style="font-size: 0.8em; color: red;"></i>
			</span>
			 
			<span style="float: right; cursor: pointer;" ng-click="openNoteModal()">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</span>
		</div>
		
		<div id="pokerGameSelectedCardBoxId" class="flexHorizontal" style="border-bottom: 3px solid grey; height: 62%;
			flex-wrap: wrap;">
			
			<div ng-repeat="value in selectedCardValues track by $index" ng-click="onChangeCard(value)"
					style="background-color: lightblue;  padding: 0.5em; margin: 0.5em; 
					border-radius: 10px; height: 7.5em; min-width: 4.5em; max-width: 4.5em;">
						
					<table style="height: 100%; width: 100%;">
						<tr>
							<td style="width: 95%;">{{value}}</td>
							<td style="width: 5%;">{{value}}</td>
						</tr>
						<tr>
							<td style="text-align: center; font-size: 1.5em;"colspan="2">{{value}}</td>
						</tr>
						<tr>
							<td style="width: 95%;">{{value}}</td>
							<td style="width: 5%;">{{value}}</td>
						</tr>
					</table>
			</div>
			
		</div>	
		
		<div class="flexHorizontal" ng-show="isUserScrumMaster" 
			 style="border-bottom: 3px solid grey; height: 7%; width: 100%;">
			
			<table>
				<tr>
					<td style="padding: 0.2em;">
						<button class="btn btn-success btn-sm">Flip</button>
					</td>
					
					<td style="padding: 0.2em; width: 80%;">
						<button class="btn btn-danger btn-sm">End the game</button>
					</td>
					
					<td style="padding: 0.2em;">
						<input type="number" class="form-control" placeholder="Points"/>
					</td>
					
					<td style="padding: 0.2em;">
						<button class="btn btn-success btn-sm">Confirm</button>
					</td>
				</tr>
			</table>
		</div>
		
		<div id="pokerGameCardBox" class="flexHorizontal"  style="height: 26%; overflow-y: auto; flex-wrap: wrap;">
		
			<div ng-repeat="value in cardValues track by $index" ng-click="onChangeCard(value)"
					style="background-color: lightblue;  padding: 0.5em; margin: 0.5em; 
					border-radius: 10px; height: 7.5em; min-width: 4.5em; max-width: 4.5em;
					cursor: pointer;">
						
					<table style="height: 100%; width: 100%;">
						<tr>
							<td style="width: 95%;">{{value}}</td>
							<td style="width: 5%;">{{value}}</td>
						</tr>
						<tr>
							<td style="text-align: center; font-size: 1.5em;"colspan="2">{{value}}</td>
						</tr>
						<tr>
							<td style="width: 95%;">{{value}}</td>
							<td style="width: 5%;">{{value}}</td>
						</tr>
					</table>
			</div>
			
		</div>
	</div>
	
	<!-- Stories -->
	<div ng-show="isUserScrumMaster" ng-include="'/ui/html/story/backlog-list.html'" style="max-width: 20%; min-width: 20%;
		margin-left: 0.5em;">
	</div>
	
	<div style="max-width: 20%; min-width: 20%; border: 3px solid grey; margin-left: 0.5em;">
		
		<div style="border-bottom: 3px solid grey; height: 6%;">
			<input type="text" ng-model="searchNote" placeholder="Search Note" style="border: none; height: 2.3em;"/>
		</div>
	
		<div style="height: 79%; overflow-y: scroll;">
			<div ng-repeat="notes in runningNotes | filter:filterNote()"  
				style="background-color: lightblue; border-radius: 5px;
				margin: 0.5em; padding: 0.5em;" ng-bind-html="notes.runningNote | unsafe">
			</div>
		</div>
		
		<div style="border-top: 3px solid grey; height: 15%;">
			<textarea placeholder="Running notes" 
				ng-model="newRunningNote" class="form-control" 
				ng-keyup="onTypeNotes($event)"
				style="border: none; height: 100%; resize: none;"/>
		</div>
	</div>
	
	
	<!-- Modal related -->
	<div id="storyNoteModal" class="modal fade" role="dialog">
		   <div role="document" class="modal-dialog modal-lg">
				<div class="modal-content">
				
					<!-- Header -->
					<div class="modal-header app-dlg-header">
						<a aria-label="Close" data-dismiss="modal" style="text-decoration: none; color: black; font-size: 0.9em; float: right; cursor: pointer;" class="yk-icon-link" data-toggle="tooltip" title="Close">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
						<h4 class="modal-title">{{selectedBacklogItem.title}} - notes</h4>
					</div>
					
					<!-- Content -->
					<div yk-model="StoryNoteModel" class="modal-body">
							
						{{message}}
						
						<div ng-show="storyNote" ng-bind-html="storyNote.content | unsafe" 
							style="box-shadow: 1px 1px 2px #888888; padding: 0.5em; margin-bottom: 1em;
							height: 25em; overflow-y:auto;">
							
						</div>
						
						<div ng-show="storyNote" class="flexHorizontal" style="justify-content: space-between;">
								<div style="background-color: #5bc0de; color: black;
									height: 2.5em; text-align: center; padding: 0.5em; border-radius: 4px;">
									Version Title - {{storyNote.versionTitle}}
								</div>
						
								<div style="background-color: #5bc0de; color: black;
									height: 2.5em; text-align: center; padding: 0.5em; border-radius: 4px;">
									Update by - {{storyNote.owner}}
								</div>
						</div>
						
					</div>
						
					<!-- Footer -->
					<div style="padding: 0.5em 1em;" class="modal-footer">
						<button data-dismiss="modal" class="btn btn-danger cancel-button" type="button">Close</button>
					</div>
			</div>
		</div>
	</div>
	
	
</div>