
<div class="flexHorizontal" style="justify-content: space-around;" ng-controller="pokerGameController">
	
	<!-- Game not started -->
	<div ng-show="(gameNotStarted && isUserScrumMaster) || (isUserNonScrumMaster && !nonScrumMasterJoined)" 
		style="width: 50%; height: 40%; margin-top: 6em; padding-top: 2em; padding-bottom: 2em; padding-left: 4em; 
		padding-right: 4em; border:1px solid lightblue; box-shadow: 5px 5px 10px #888888">
			
		<!-- Scrum Master will start the game -->
		<table ng-show="isUserScrumMaster" cellspacing="10" style="width: 100%; height: 100%;">
			<tr>
				<td colspan="2" style="text-align: center;">
					<span style="font-weight: bold;">PLEASE START THE GAME</span>
				</td>
			</tr>
			<tr>
				<td>
					Poker Game Series
				</td>
				<td>
					<div style="background: white; float: right;">
						<div class="input-group">
							<table>
								<tr>
									<td>
										<input type="text" class="form-control" aria-label="..." style="width: 15em;" readonly="readonly" 
										 placeholder="Please select series" value="{{selectedSeries}}">
									</td>
									<td>
										<div class="input-group-btn">
											<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right">
											    <li ng-repeat="seriesName in listOfGameSeries"><a ng-click="onGameSeriesChange(seriesName)" href="">{{seriesName}}</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					Number of cards
				</td>
				<td>
					<input ng-model="noOfCards" class="form-control" placeholder="Number of cards" style="width: 17.3em; float: right;"/>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span ng-if="pokerGameError.error" style="color: red;">{{pokerGameError.message}}</span>
					<button ng-click="startTheGame()" class="btn btn-success" style="float: right;">Start the game</button>
				</td>
			</tr>
		</table>
		
		<!-- Project Members will see the notification -->
		<div ng-show="isUserNonScrumMaster">
		
			<div ng-show="gameNotStarted">no game has started</div>
			
			<div ng-show="gameStarted && !nonScrumMasterJoined">
				game has started would you like to join {{nonScrumMasterJoined}}
				<button class="btn btn-success" ng-click="nonScrumUserJoinsTheGame()">Join</button>
			</div>
			
		</div>
		
	</div>
	
	<!-- Game started for scrum matser-->
	<div ng-show="(gameStarted && isUserScrumMaster) || (gameStarted && nonScrumMasterJoined)" class="flexHorizontal" 
		 ng-include="'/ui/html/poker-game/poker-new-game.html'" style="width: 100%; height: 100%;"></div>
	
</div>