<div class="container-fluid" ng-controller="scrumController" style="paddding: 0px;" ng-init="initScrum()">


	<table>
		<tr>
			<td>
				Scrum Meeting
			</td>
			<td>
				<yk-date-field name="meetingDate" label="Meeting Date" ng-model="meetingDate"></yk-date-field>
			</td>
		</tr>
	</table>
	
	<div class="row" style="margin-top: 1em;" >
		<div class="col-md-9 col-xs-9 col-sm-9">	
			<div class="panel" style="margin-bottom: 0px; border-style: solid; border-color: #D2B48C; 
			border-width: 5px;">
				
				<div style="height: 15em; overflow-y:auto;">
					<table  width="100%" ng-repeat="scrum in scrumMeetings" style="margin-top: 1em;"> 
						<tr>
							<td style="width: 20%;">
								{{scrum.name}}
							</td>
							<td style="width: 0%;">
								<div class="arrow-left-blue"></div>
							</td>
							<td style="background-color: lightblue; width: 80%; border-radius: 5px; height: 1em; 
							padding-top: 0.3em; padding-left: 0.5em; padding-right: 0.5em; padding-bottom: 0.3em;">
								{{scrum.message}}
							</td>
						</tr>
					</table>
				</div>
				
				<div class="panel-footer">
					<textarea id="scrumMessageId" ng-model="scrumMessage" ng-keyup="onType($event)" class="form-control" rows="2" cols="2" 
						placeholder="Type your message here" style="height: 10em; resize: none;"></textarea>
					<button class="btn btn-success" ng-click="submitScrumContent()">Send</button>						
				</div>
			</div>
		</div>
		
		<div class="col-md-3 col-xs-3 col-sm-3" style="border-style: solid; border-color: #D2B48C; border-width: 5px; 
		height: 37em;"> 
			Action Items
		</div>
	</div>
	
</div>
