<div class="flexHorizontal" style="width:100%;" ng-controller="mailTemplateController">
	<div style="width:80%; padding:3px; margin-bottom: 0.3em; border-radius:5px; min-height: 100%; border:1px solid grey;">
		<div style="margin-bottom :4px; margin-left:5px; width:20em;" ng-init="initTemplate()">
			<div class="input-group">
				<table>
					<tr>
						<td>
							<input type="text" class="form-control" aria-label="..." style="border-top-left-radius: 5px;
							 border-bottom-left-radius: 5px; width: 15em;" readonly="readonly" value="{{templateModel.templateName}}" >
						</td>
						<td>
							<div class="input-group-btn">
								<button type="button" class="btn btn-danger dropdown-toggle"  style="border-bottom-right-radius:5px;border-top-right-radius:5px;" data-toggle="dropdown"
								 aria-haspopup="true" aria-expanded="false"  >
										MailTemplate <span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right">
								   <li ng-repeat ="name in mailTemplateConfigNames"><a ng-click="readMailTemplateName(name)">{{name}}</a> </li>
								</ul>
							</div>
						</td>
					</tr>
				</table>	
			</div>
		</div>
		<!-- sub -->
		<div>
			<table width="100%" >
			<tr>
				<td style="padding-top: 0.6em; padding-left: 1em;">
					Sub:
					<input type="text" style="max-width:45em; min-width:45em; border: 2px solid #f0f0f0; margin-left: 1em;"
						ng-model="templateModel.subjectTemplate" value="{{templateModel.subjectTemplate}}"/>
				</td>
			</tr>
				
			<tr>
				<td style="padding-top: 0.4em;" ng-init="init()">
					<div>
						<textarea rows="2" cols="2" id="messageId" class="form-control" 
						placeholder="Type your message here" style="height: 15em; resize: none;">
						{{templateModel.contentTemplate}}
						</textarea>					
					</div>
				</td>
			</tr>
			<tr>	
				<td>
					<div style =" text-align:right; margin-top:2px;">
						<button ng-click="saveMailSubDesc()" class="btn btn-primary action-button ng-binding" type="button">Save</button>
						<button ng-click ="resetToDefault()" data-dismiss="modal" class="btn btn-danger cancel-button" type="button">Reset to Default</button>
					</div>
				</td>	
			</tr>	
		</table>	
	</div>
		<!-- end of sub -->
	</div>
	
	<!-- strt of box -->
	<div style="float:right; width:300px; margin-left:0.3em;">
		<div style="padding-left: 4px; width:270px; border: 2px solid gray; background-color: silver; border-width: 1px 1px 0 1px;text-align: center;" >Description</div>
			<div style="overflow-y: auto; padding:3px; border: 1px solid grey; border-radius: 2px; 
			 width: 270px; height:10em; ">
				{{mailTempConfigObj.description}}
			</div>
			
			<div style="padding-left: 4px; width:270px; border: 2px solid gray; background-color: silver; border-width: 1px 1px 0 1px;margin-top: 1em; text-align: center;" >Context Attribute</div>
			<div style="overflow-y: auto; border: 1px solid grey; border-radius: 2px; 
				height:23em; width: 270px; " >
				<table class="table table-bordered table-striped" style="padding:2px;margin:5px;">
					<th ng-show ="templateConfigNameAndDesc" style="text-align: center; border:1px solid gray;">Name
					</th>
					<th ng-show ="templateConfigNameAndDesc" style="text-align: center; border:1px solid gray;">Description
					</th>
					<tr style="border:1px solid gray;" ng-repeat ="obj in mailTempConfigObj.fields">
						<td style="padding:2px;border: 1px solid gray;"> 
						{{obj.name}}
						</td>
						<td style="padding:2px; border:1px solid gray;">
						{{obj.description}}
						</td>
					</tr>
				</table>
			</div>
	</div>
	<!-- end of box -->	
</div> 