<div class="container-fluid" ng-controller="mailDetailsController" style="padding: 0px;">

	<div class="col-xs-12 col-md-12 col-md-12 col-xl-12" ng-init="readMailServer()">
		<form>
			<div class="form-group">
				<label for="userName">UserName:</label> 
				<input type="email" class="form-control" id="userName"  ng-model="mailServerSetting.userName" placeholder="Enter email" value = "{{mailServerSetting.userName}}">
			</div>
			
			<div class="form-group">
				<label for="pwd">Password:</label> 
				<input type="password" class="form-control" id="pwd"  ng-model="mailServerSetting.password" placeholder="Enter password"  value = "{{mailServerSetting.password}}">
			</div>
			
			<div class="form-group">
				<label for="smtpHost">SmtpHost:</label> 
				<input type="text" class="form-control" id="smtpHost" ng-model="mailServerSetting.smtpHost" placeholder="Enter smtpHost"  value = "{{mailServerSetting.smtpHost}}">
			</div>
			<div class="form-group">
				<label for="smtpPort">SmtpPort:</label> 
				<input type="text" class="form-control" id="smtpPort" ng-model="mailServerSetting.smtpPort" placeholder="Enter smtpPort"  value = "{{mailServerSetting.smtpPort}}">
			</div>
		
			<div class="form-group">
				<label for="readProtocol">ReadProtocol:</label> 
				<input type="text" class="form-control" id="readProtocol"  ng-model="mailServerSetting.readProtocol" placeholder="Enter readProtocol"  value = "{{mailServerSetting.readProtocol}}">
			</div>
			<div class="form-group">
				<label for="readHost">ReadHost:</label> 
				<input type="text" class="form-control" id="readHost" ng-model="mailServerSetting.readHost" placeholder="Enter readHost"  value = "{{mailServerSetting.readHost}}">
			</div>
			
			<button type="submit" class="btn btn-default" style= "background-color:#d9534f; text-align:right;" ng-click="saveMailServer()">Save</button>
		</form>
	</div>
</div>


