<div ng-controller="mailTemplteDefinitionController" >
	<div style="margin-bottom :4px; width:20em; "  ng-init="listOfMailDefin()">
		<div class="input-group">
			<table>
				<tr>
					<td>
						<input type="text" class="form-control" aria-label="..." style="border-top-left-radius: 5px; border-bottom-left-radius: 5px; width: 15em;" readonly="readonly" value="{{selectedmailObj.name}}">
					</td>
					<td>
						<div class="input-group-btn">
							<button type="button" class="btn btn-danger dropdown-toggle"  style="border-bottom-right-radius:5px;border-top-right-radius:5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									MailTemplateDefinition <span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
							   <li ng-repeat= "obj in mailDefinitionTemplates" ><a ng-click="setMailTemDefId(obj.id)">{{obj.name}}</a> </li>
							</ul>
						</div>
					</td>
				</tr>
			</table>	
		</div>
	</div>
	<!-- end of drop down -->
	
	<div class = "col-md-8 col-xs-8 col-lg-8" style="padding: 0; margin-left: 2em; margin-top: 1em; border:2px solid red; border-radius:5px; height:auto;"> 
		<table width="100%">
			<tr>
				<td style="padding-top: 1em; padding-left: 1em;">
					Sub:
					<input type="text" style="max-width:45em; min-width:45em; border: 2px solid #f0f0f0; margin-left: 1em;"
					 ng-model="mailTempSub"/>
				</td>
			</tr>
				
			<tr>
				<td style="padding-top: 1em; padding-left: 1em; padding-right: 1em;">
					<div>
						<textarea rows="2" cols="2" id="messageId" ng-model="mailTempBody" class="form-control" 
								placeholder="Type your message here" style="height: 12em; resize: none;"></textarea>					
					</div>
				</td>
			</tr>
			<tr>
				<td style="padding-top: 1em;">
					<div class="row">
					
						<div class="col-md-6 col-xs-6">
						
							<div style="padding-left: 1em;">To</div>
							<div  style="float: left; height: 80px; overflow:auto; border:2px solid #e2e2e2; width: 100%;">
							
								<input type="checkbox" ng-model="admin.toAdmin" style=" min-width: 1px; height: 1em; width:1em; margin: 0.2em; 
										margin-left: 2em; vertical-align: middle;" />{{admin.name}}<br>
								<input type="checkbox" ng-model="projectManager.toProjectManager" style=" min-width: 1px; height:1em; width: 1em; 
										margin: 0.2em; margin-left: 2em; vertical-align: middle;" />{{projectManager.name}}<br>
						
							</div>
							
						</div>
					
						<div class="col-md-6 col-xs-6">
						
							<div style="padding-left: 1em;">cc:</div>
							<div style="float:left; height: 80px; border:2px solid #e2e2e2;  width:100%;">
							
								<input type="checkbox" ng-model="ccAdmins.ccAdmin" style="height: 1em; width: 1em; margin: 0.2em 0.2em 0.2em 10px; min-width: 1px;" />{{admin.name}}<br>
								<input type="checkbox" ng-model="ccProjectManagers.ccProjectManager" style=" height: 1em; width: 1em; margin: 0.2em 0.2em 0.2em 10px; min-width: 1px;" />{{ccProjectManagers.name}}<br>
							</div>
							
						</div>
						
					</div>
				</td>	
				
			</tr>
			<tr>	
				<td>
						<!-- Footer -->
					<div style =" text-align:right;margin:10px;">
						<button ng-click="saveMailSubDesc()" class="btn btn-primary action-button ng-binding" type="button">Save</button>
						<button ng-click ="resetTable()" data-dismiss="modal" class="btn btn-danger cancel-button" type="button">Reset</button>
					</div>
				</td>	
			</tr>	
		</table>
	</div>
	
	<!--  other box -->
	<div class ="col-md-2" style="background-color: #e2e2e2;  border-radius: 5px; height:34em; margin-left: 3em;">
		<div>
			{{selectedmailObj.contextAttribute}}
		</div>
			
		<div>
			{{selectedmailObj.description}}
		</div>
	</div>
</div>