<div class="flexVertical" style="width: 100%; border:2px solid #eee; padding:4px;min-height: 100%;" ng-controller="notificationSettingsController">
	
	<!-- Fliter -->
	<div style="width: 100%; margin:0.5em;" ng-init="fetchNotifications()">
		<table>
			<tr>
				<td>
					<div class="input-group">
						<input type="text" ng-keyup="onTypeOfSearch($event)" class="form-control" placeholder="Notifications" 
							style="width: 35em; " ng-model="notificationMode">
							<span class="input-group-addon" style="border: none;">
								<a href="" ng-click="searchNotification(notificationMode)"> <i class="fa fa-search" aria-hidden="true" style="font-size:1.3em;"></i></a>
							</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<!-- content -->
	<div style="width: 100%; flex-grow: 1; align-items: stretch;" class="flexHorizontal">
		<div style=" width: 100%; flex-grow: 1;border:2px solid #eee; margin:1em; align-items: stretch;">
			<div ng-repeat="obj in notifiSearch | filter:notifiFilter()">
				<input type="checkbox" style="min-width: 1px; height: 1em; width: 1em; 
					margin: 1em 1em 1em 2em; vertical-align: middle;" ng-model="obj.enabled" />
					<span class="has-tip tip-top" aria-haspopup="true" title={{obj.descritpion}}>{{obj.notificationType}}<br></span>
			</div>		
		</div>
	</div>
	
	<div class="panel-footer" style= "text-align:right;">
		<button type= "button" class="btn btn-primary" style= "background-color:#d9534f; text-align:right;" ng-click="saveNotificationSettings()">Save</button>
	</div>
</div>