<div style="width: 100%; background: black;">
	
	<table style="width: 100%;">
		<tr>
			<td style="padding-right: 2em; vertical-align: center;">
				<img alt="AgilePro" src="/ui/images/agilepro-logo.png" style="width: 10em; height: 4em;" yk-hide-from="sm">
			</td>
			<td style="width: 100%; vertical-align: center;">
				<yk-tab-button id="homeTab" label="Home" state="default" icon="glyphicon glyphicon-home" color="white">
				</yk-tab-button>
				<yk-tab-button id="customersTab" label="Customer" state="customers" icon="fa fa-user" color="white" yk-for-role="ADMINISTRATOR">
				</yk-tab-button>
				<yk-tab-button id="resourcesTab" label="Resources" state="designation" icon="glyphicon glyphicon-flash" color="white" yk-for-role="CUSTOMER_SUPER_USER">
				</yk-tab-button>
				<yk-tab-button id="projectsTab" label="Projects" state="project" icon="glyphicon glyphicon-th-large" color="white" yk-for-role="CUSTOMER_SUPER_USER">
				</yk-tab-button>
				<yk-tab-button id="membersTabId" label="Members" state="member" icon="glyphicon glyphicon-flash" color="white" yk-for-role="CUSTOMER_SUPER_USER" ng-if="selectedProject">
				</yk-tab-button>
				<yk-tab-button id="storyTab" label="Story" state="story" icon="glyphicon glyphicon-th" color="white" yk-for-role="CUSTOMER_SUPER_USER, EMPLOYEE_VIEW, EMPLOYEE_EDIT" ng-if="selectedProject">
				</yk-tab-button>
				<yk-tab-button id="kanbanTab" label="KanbanBoard" state="kanbanBoard" icon="glyphicon glyphicon-duplicate" color="white" yk-for-role="CUSTOMER_SUPER_USER,EMPLOYEE_VIEW,EMPLOYEE_EDIT" ng-if="selectedProject">
				</yk-tab-button>
				<yk-tab-button id="bugTab" label="Bug" state="bug" icon="glyphicon glyphicon-screenshot" color="white" yk-for-role="CUSTOMER_SUPER_USER,EMPLOYEE_VIEW,EMPLOYEE_EDIT">
      			</yk-tab-button>
				<yk-tab-button id="settingsTab" label="Settings" state="extensions" icon="glyphicon glyphicon-cog" color="white" yk-for-role="ADMINISTRATOR ,CUSTOMER_SUPER_USER, EMPLOYEE_VIEW">
				</yk-tab-button>
			</td>
			<td style="text-align: right; font-weight: bold; white-space: nowrap; vertical-align: top; padding-right: 0.5em; padding-top: 0.5em;">
				<a href="#" style="color: white;"> Logout {{activeUser.displayName}} </a>
				
				<div style="margin-right: -0.5em; background: white; margin-top: 2px; padding-left: 0.5em; padding-right: 0.5em; padding-top:  5px; border-top-left-radius: 0.5em;" 
					ng-show="showProjects && currentState.projectSpecific">
					<div class="input-group">
						<input type="text" class="form-control" aria-label="..." style="width: 15em;" readonly="readonly" value="{{selectedProject.name}}">
						<div class="input-group-btn">
							<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Project <span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
							    <li ng-repeat="proj in projects"><a ng-click="setActiveProject(proj.id)">{{proj.name}}</a></li>
							</ul>
						</div>
						<!-- /btn-group -->
					</div>
					<!-- /input-group -->
				</div>
				
			</td>
		</tr>
	</table>
</div>
