<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	    <title>AgilePro</title>
	    
	    <link href="webutils/css/bootstrap.min.css" rel="stylesheet">
	    <link href="webutils/css/webutils.css" rel="stylesheet">
	    <link href="ui/css/app.css" rel="stylesheet">
	</head>
	
	<body ng-app="application">
		<input id="loginPageMarker" type="hidden" value="true"/>
		
		<div class="container-fluid" ng-controller="lpageHelper">
			<div class="row" style="background: black;">
				<div class="col-md-4">
					<img alt="AgilePro" src="/ui/images/agilepro-logo.png" style="width: 10em; height: 4em;" yk-hide-from="sm">
				</div>
			</div>

			<div class="row preProcessHidden">
				
				<!-- login form -->
				<div class="col-md-4">
					<div class="row" yk-hide-from="sm" style="height: 5em;">
						
					</div>
					
					<!-- Start of login box row -->
					<div class="row">
						<div id ="loginForm" class="col-xs-12 col-md-11 box1">
							<form class="form-horizontal" action="" method="POST">
								<br/>
								<yk-field label="Email" type="email" model="email"></yk-field>
								
								<br/>
								<yk-field label="Password" type="password" model="password"></yk-field>
								
								<br/>
								<div class="row">
									<div id="loginButton" class="col-xs-12" style="text-align: center;">
										<input type="submit" value="Login" class="btn btn-primary" 
											style="width: 100%; font-weight: bold; padding: 0.5em; height: auto;" ng-click="authenticate($event)"/>
									</div>
								</div>
								<div class="row">
                				   <div class="col-xs-12" style="text-align: right;">
      								     <a href="#" ng-click="showPopup($event)" style="font-size: 0.8em; font-weight: bold;">Forgotten Password?</a>
 									</div>
 								</div> 
							</form>
						</div>
					</div>
					<!-- End of login box row -->
	
				</div>
				
				<!-- start of forgotten password -->
				<yk-dialog id="resetPasswordDlg" title="Reset Password" style="padding: 0px;" size="small">
					<content>
						Please enter your mail id: <BR/>
						<input type="text" ng-model="mailId" style="width: 100%; min-width: 10em;"/>
						<br/>
					</content>
					<footer>
						<button type="button" class="btn btn-primary action-button" ng-click="resetPassword($event)">
							Submit
						</button>
						<button type="button" class="btn btn-danger cancel-button" data-dismiss="modal">Cancel</button>
					</footer>
				</yk-dialog>
				<!-- end forgootten password -->
			</div>
			
			
			
		</div>
		
		
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="webutils/js/jquery-2.2.0.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="webutils/js/bootstrap.min.js"></script>
		<script src="webutils/js/angular.js"></script>
		<script src="webutils/js/angular-sanitize.min.js"></script>
		<script src="webutils/js/angular-ui-router.min.js"></script>

		<!-- Draggable -->
		<script src="webutils/js/ngDraggable.js"></script>
		
		<script type="text/javascript" src="ui/js/app.js"></script>

		<script src="webutils/js/yukthi/jquery-template.js"></script>
		<script src="webutils/js/yukthi/angular-app.js"></script>
		<script src="webutils/js/yukthi/webutils.js"></script>
		<script src="webutils/js/yukthi/data-validations.js"></script>
		<script src="webutils/js/yukthi/ui-components.js"></script>


		<script src="ui/js/common/lpage.js"></script>
	</body>
</html>