<div class="container-fluid" ng-controller="sprintController"  ng-init="hideLeftMenu()"  style="padding: 0px; ">
	<result-customizer>
			<!-- sprint drop down -->
		<div class="storyBoards">
			<div class="row" style="padding: 0px; width : 20%;" ng-init="listOfSprint($event)">
				<table>
					<tr>
						<label for="repeatSelect"> Sprints  </label>
						<select name="repeatSelect" id="repeatSelect" ng-model="selectedSprintObj" ng-change="displaySprint()">
							<option ng-repeat="obj in sprint" value="{{obj}}">{{obj.name}}</option>
						</select>
					</tr>				
					<tr style="padding: 0.1em 0.5em; text-align: right;">
						<a role="button" ng-click="saveSprint($event)" style="text-decoration: none; color: blue; font-size: 1.3em;" class="yk-icon-link" data-toggle="tooltip" title="Add Sprint">
							<i class="glyphicon glyphicon-plus"/>
						</a>
						<a role="button" ng-click="editSprint(selectedSprintObj)" style="text-decoration: none; color: blue; font-size: 1.3em;" class="yk-icon-link" data-toggle="tooltip" title="Edit Sprint">
							<i class="glyphicon glyphicon-edit"/>
						</a>
					</tr>
				</table>
			</div>
			 <!-- backlog drag -->
			<div align="center" class = "col"  style = "background-color : thistle;  height : auto;padding: 10px;" ng-init="listOfStories($event)">  
				<div class="panel-heading"  style = "background-color : papayawhip;">BACKLOG</div>
					<div id={{backlog}} draggable="true" yk-on-drag ="dragToProgress(event)" ng-repeat="backlog in story  | filter: orderBy:'title'" 
						style = "background-color : lightpink; margin:10px; border-radius: 25px; width :150px; height : 150px; border: 1px solid grey; padding: 25px; cursor:-moz-grabbing; " >
							<div style =" text-align:left;  text-transform: uppercase;">{{backlog.title}}</br>( {{backlog.estimate}} )</div>						
					</div>
			</div>
				
			<!-- drop to notStarted -->
			<div id ="Notstarted"   class = "col-md-3" style = "background-color : lightgrey; height : 50em; padding: 25px; margin: 5px;" 
						yk-on-drag-over ="allowDropOnNotStarted(event)"  yk-on-drop="onDropofNotStarted(event)">
				<div class="panel-heading" style = "background-color : papayawhip; ">	notStarted</div>
					<div  id = {{objNotstarted}}  draggable="true" ng-repeat="objNotstarted in notStarted | filter: orderBy:'title'" " style = "background-color : lightpink; margin:10px; 
						border-radius: 25px; width :150px; height : 150px; border: 1px solid grey; padding: 25px; cursor:-moz-grabbing; " yk-on-drag ="dragToCompleted(event)">
								{{objNotstarted.title}} {{objNotstarted.status}}
					</div>
			</div>
					
			<!-- drop to inProgress -->	
			<div id = "inProgress" class = "col-md-3"  style = "background-color : moccasin; height :50em; padding: 25px;  margin: 5px;"  
					yk-on-drag-over ="allowDropOnProgress(event)"  yk-on-drop="onDropofInProgress(event)"> 
				<div class="panel-heading" style = "background-color : papayawhip;">	IN_PROGRESS</div>
					<div id = {{obj}}  draggable="true" ng-repeat="obj in inProgress  | filter: orderBy:'title'" " style = "background-color : lightpink; margin:10px; 
						border-radius: 25px; width :150px; height : 150px; border: 1px solid grey; padding: 25px; cursor:-moz-grabbing; " 	
								yk-on-drag ="dragToNotStarted(event)">{{obj.title}} {{obj.status}}			
					</div>
			</div>
						
			<!-- drop to completed -->
			<div id = "completed"  class = "col-md-3" style = "background-color : lightgrey; height : 50em; padding: 25px; margin: 5px;"	
					yk-on-drag-over ="allowDropOnCompleted(event)"  yk-on-drop="onDropofCompleted(event)" >  
				<div class="panel-heading" style = "background-color : papayawhip;">COMPLETED</div>
					<div  id = {{objCompleted}}  draggable="true" ng-repeat=" objCompleted in completed" style = "background-color : lightpink; margin:10px; 
						border-radius: 25px; width :150px; height : 150px; border: 1px solid grey; padding: 25px; cursor:-moz-grabbing; " yk-on-drag ="dragToProgress(event)" >
								{{objCompleted.title}}  {{objCompleted.status}}
					</div>
			</div>
		</div>
	</result-customizer>
	<yk-model-dialog id="sprintDialog" name="SprintModel" title="Sprint" columns="2" actionMethod="saveChanges($event);"/>
</div>