<div class="container-fluid" ng-controller="projectReleaseController" style="padding: 0px;" ng-init="fetchAllRelease()">

	<div style="background: white; padding-left: 0.5em; padding-right: 0.5em; padding-top: 5px; border-top-left-radius: 0.5em;">
		<div class="input-group">
			<input type="text" class="form-control" aria-label="..." style="width: 15em;" readonly="readonly" value="{{selectedRelease.name}}">
			<div class="input-group-btn">
				<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Release <span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
				    <li ng-repeat="release in releases"><a ng-click="onReleaseChange(release.id)" href="">{{release.name}}</a></li>
				</ul>
			</div>
			<!-- btn-group -->
		</div>
		<!-- input-group  -->
	</div> 
				
	<!--  <div class="btn-group">
	 
    	<button type="button" class="btn btn-primary" style="min-width: 13em; max-width: 13em;">{{selectedRelease}}</button>
    	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      	<span class="caret"></span>
    	</button>
	    <ul class="dropdown-menu" role="menu" style="min-width: 13em; max-width: 13em;"> 
	      <li ng-repeat="release in releases" ng-click="onReleaseChange(release.id)"><a href="">{{release.name}}</a></li>
	    </ul>
  	</div>  -->
  
	<div class="row" style="margin-top: 1em;">
	
		<div class="col-md-5 col-xs-5" style="margin-left: 5em; border: solid; border-width: 0.2em; 
		box-shadow: 10px 10px 5px #888888; border-color: lightgreen; border-radius: 25px; height: 35em;">
			
			<table width="100%">
					<tr style="height: 2em; text-align:center">
						<td width="50%">Unreleased Project</td>
						<td width="50%">{{projectReleaseToDisplay}}</td>
					</tr>
					<tr>
						<td>
							<div style="border: solid; border-width: 0.2em; border-color: lightblue;
							border-radius: 10px; height: 30em; margin: 1em;">
								<table>
									<tr ng-repeat="project in projectsForRelease">
										<td >
											<div id="{{project.id}}" style="background-color: yellow; width: 100%; height: 2em; margin: 1em; 
											text-align: center; cursor:-moz-grabbing;" draggable="true" yk-on-drag="dragProjects(event)">
												{{project.name}}
											</div>
										</td>
									</tr>
								</table>
								
							</div>
						</td>
						<td>
							<div style="border: solid; border-width: 0.2em; border-color: lightblue; border-radius: 10px; height: 30em; 
							margin: 1em;" yk-on-drop="dropReleases(event)">
								<div ng-repeat="release in projectReleased" style="background-color: yellow; height: 5em; width: 14em;
									padding: 1em; margin: 1em;">
									{{release.name}}
								</div>
							</div>
						</td>
					</tr>
			</table>
			
		</div>
		
		<div class="col-md-5 col-xs-5" style="margin-left: 5em; border: solid; border-width: 0.2em; 
		box-shadow: 10px 10px 5px #888888; border-color: lightgreen; border-radius: 25px; height: 35em;">
			
			<table width="100%">
					<tr style="height: 2em; text-align:center">
						<td width="50%">Stories</td>
						<td width="50%">{{releaseToDisplay}}</td>
					</tr>
					<tr>
						<td>
							<div style="border: solid; border-width: 0.2em; border-color: lightblue;
							border-radius: 10px; height: 30em; margin: 1em;">
								<div ng-repeat="story in storiesForRelease" draggable="true" yk-on-drag ="onDragStories(event)" 
								style="background-color: yellow; height: 5em; width: 10em; padding: 1em; 
								margin: 1em; cursor:-moz-grab; cursor:grab; cursor:-webkit-grab;">
									{{story.name}}
								</div>
							</div>
						</td>
						<td>
							<div style="border: solid; border-width: 0.2em; border-color: lightblue;
							border-radius: 10px; height: 30em; margin: 1em;">
								<div ng-repeat="realse in realses" style="background-color: yellow; height: 5em; width: 14em;
									padding: 1em; margin: 1em;">
									{{realse.name}}
								</div>
							</div>
						</td>
					</tr>
			</table>
			
		</div>
		
	</div>
		
</div>