<div class="container-fluid" ng-controller="releaseController" style="padding: 0px;" ng-init="fetchAllRelease()">

	<yk-model-dialog id="releaseDialogId" name="Release" title="Realses" columns="2" actionMethod="saveRelease()" modelObj="releaseModel">
	</yk-model-dialog>
	
	
	<!-- Release select drop down -->
	<div style="background: white; padding-left: 0.5em; padding-right: 0.5em; padding-top: 5px; border-top-left-radius: 0.5em;">
		<div class="input-group">
			<table>
				<tr>
					<td>
						<input type="text" class="form-control" aria-label="..." style="width: 15em;" readonly="readonly" 
						 placeholder="Please create release" value="{{selectedRelease.name}}">
					</td>
					<td>
						<div class="input-group-btn">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Release <span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" ng-if="selectedRelease.name">
							    <li ng-repeat="release in releases"><a ng-click="onReleaseChange(release.id)" href="">{{release.name}}</a></li>
							</ul>
							<button type="button" class="btn btn-primary" ng-click="addNewRelease()" title="Add new release">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-primary" ng-click="editEntry($event)" title="Edit selected release"
							ng-if="selectedRelease.name">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-danger" ng-click="deleteEntry($event)" title="Delete selected release"
							ng-if="selectedRelease.name">
								<i class="fa fa-times" aria-hidden="true"></i>
							</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div> 
	
	
	<div ng-include="'/ui/html/project/project-release.html'" ng-controller="projectReleaseController"></div>
		
</div>
