<div class="container-fluid" ng-controller="storyReleaseController" style="padding: 0px;">

	<div class="col-md-5 col-xs-5" style="margin-left: 4em; border: solid; border-width: 0.2em; 
			box-shadow: 10px 10px 5px #888888; border-color: #A9A9A9; border-radius: 25px; height: 35em;">
				
			<!-- Drop down -->
			<div style="background: white; padding-left: 0.5em; padding-right: 0.5em; padding-top: 5px; 
			border-top-left-radius: 0.5em; margin-left: 4em; margin-top: 0.5em;">
				<div class="input-group">
					<table>
						<tr>
							<td>
								<input type="text" class="form-control" aria-label="..." style="width: 15em;" readonly="readonly" 
								 placeholder="Please select a project" value="{{selectedReleasedProject.name}}">
							</td>
							<td>
								<div class="input-group-btn">
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Project <span class="caret"></span>
									</button>
									<ul class="dropdown-menu dropdown-menu-right" ng-if="selectedReleasedProject.name">
									    <li ng-repeat="releasedProject in projectReleased">
									    	<a ng-click="onReleaseProjectChange(releasedProject.id)" href="">
									    		{{releasedProject.name}}
									    	</a>
									    </li>
									</ul>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
				
				<div class="row">
				
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="border: solid; border-width: 0.2em; 
					border-color: lightblue; border-radius: 5px; margin-top: 1em; margin-left: 1.5em;"
					yk-on-drop="dropBackStories(event)">
						
						<!-- Search Unreleased Story Name -->
						<form>
							<div class="row">
								<div class="input-group col-md-12 col-xs-12">
									<input type="text" ng-model="searchUnreleaseStory" class="form-control" placeholder="Story" style="min-width: auto; max-width: 15em; border: none;">
									<span class="input-group-addon dropdown-toggle" style="border: none;" data-toggle="dropdown">
										<a href=""><i class="fa fa-caret-down" aria-hidden="true" style="font-size:1.3em;"></i></a>
									</span>
									<ul class="dropdown-menu" role="menu" style="margin-left: 5.5em; max-width: 7em; min-width: 7em;">
								      <li><a href="" ng-click="checkAllUnreleasedStory()">Select All</a></li>
								      <li><a href="" ng-click="unCheckAllUnreleasedStory()">Reset</a></li>
								    </ul>
								</div>
							</div>
						</form>	
					
					<div class="row" style="border-bottom: 2px solid #87CEEB;"></div>
					
					<!-- Unreleased Story box -->
					<div class="row" style="text-align: center; height:25.8em; overflow-y:auto;">
						<div class="col-md-12 col-xs-12" ng-repeat="story in storiesForRelease | filter:storyFilter()">
							<div id="{{story.id}}" class="member" ng-class="story.check ? 'blueBackGround' : 'whiteBackGround'"
							style="width: 100%; margin-top: 1.5em; height: 3em; padding-top: 0.7em; cursor:pointer;
							cursor:-moz-grabbing; overflow: hidden;" draggable="true" yk-on-drag="dragStories(event)" ng-click="checkBoxStory(story.id)">
								<table>
									<tr>
										<td style="padding-left: 0.5em;"><span ng-class="story.check ? 'fa fa-check-square': 'fa fa-square-o'" aria-hidden="true"></span></td>
										<td style="padding-left: 0.3em;">{{story.title}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="border: solid; border-width: 0.2em; 
					border-color: lightgreen; border-radius: 5px; margin-top: 1em; margin-left: 2em;" yk-on-drop="dropStories(event)">
						
						<!-- Search Released Story Name -->
						<form>
							<div class="row">
								<div class="input-group col-md-12 col-xs-12">
									<input type="text" ng-model="searchReleaseStory" class="form-control" placeholder="Selected Story" style="min-width: auto; max-width: 15em; border: none;">
								</div>
							</div>
						</form>	
					
					<div class="row" style="border-bottom: 2px solid lightgreen;"></div>
					
					<!-- Released Story box -->
					<div class="row" style="height: 25.8em; overflow-y: auto;">
						<div class="col-md-12 col-xs-12" ng-repeat="release in storiesReleased | filter:searchReleaseStory">
							<div id="{{release.id}}"  draggable="true" yk-on-drag="dragBackStories(event)"
							style="background-color: lightgreen; width: 100%; height: 3em; margin-top: 1.5em; padding-top: 0.7em;
							padding-left: 0.9em; float: left; border-radius: 5px; cursor:pointer; cursor:-moz-grabbing;">
								{{release.title}}
							</div>
						</div>
					</div>
				</div>
				
			</div>	
				
			</div>
</div>